<html>
    <body>
        <center>
        <h2>Contact</h2>
        <p>If you have any queries with this application kindly contact us...!</p>
        <table class="table table-light table-striped">
            <tr>
              <th scope="row"><i class="bi bi-cursor-fill"></i></th>
              <td>PSG college of Technology<br>
                  Peelamedu<br>
                  Coimbatore - 641004</td>
            </tr>
            <tr>
              <th scope="row"><i class="bi bi-telephone-fill"></i></th>
              <td>9867543210</td>
            </tr>
            <tr>
              <th scope="row"><i class="bi bi-envelope-fill"></i></th>
              contact us:20mxff@gmail.cm
            </tr>
          </table>
          </center>
    </body>
</html>