<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</head>
  <style>
    body{
        
        background-image:url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-33_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=834e545d9ae1587dd6afcbf67be7993a");
        background-size: cover;
       
    }
    nav{
       width :100%;
       height:70px;
       border : none;
      }

  </style>
  <body>
    
    <nav class="navbar navbar-expand-md fixed-top  bg-light">
      
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">	
            
        <li ><a href="{% url 'uuhome' %}" class="btn btn-light"><b>Home</b></a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;"><b>Profile</b></a>
            <div class="dropdown-menu" >
                <a href="{% url 'updateprofile' %}" class="dropdown-item">Update Profile</a>
                 <a href="{% url 'cp' %}" class="dropdown-item">ChangePassword</a>
                <a class="dropdown-item" href="{% url 'viewprofile' %}">View Profile</a>
            </div>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;"><b>Records</b></a>
            <div class="dropdown-menu">
                <a href="{% url 'rec' %}" class="dropdown-item">Add Records</a>
                <a class="dropdown-item" href="{% url 'viewrecord' %}">View Records</a>
                <a class="dropdown-item" href="{% url 'pres' %}">Add Prescription</a>
                <a class="dropdown-item" href="{% url 'viewpres' %}">View Prescription</a>
            </div>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;"><b>Search Record</b></a>
            <div class="dropdown-menu">
            
           <a href="{% url 'searchhos' %}" class="dropdown-item" ><b>Hospital Name</b></a>
      <a href="{% url 'searchdoc' %}" class="dropdown-item" ><b>Doctor Name</b></a>
      <a href="{% url 'searchdocname' %}" class="dropdown-item" ><b>Document Name</b></a>
                
            </div>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;"><b>Emergency</b></a>
            <div class="dropdown-menu">
            

          <a href="{% url 'uviewemergency' %}" class="dropdown-item" ><b>View Emergency</b></a>
<a href="{% url 'searchemerhname' %}" class="dropdown-item" ><b>Search By Hospital Name</b></a>   
<a href="{% url 'searchemerloc' %}" class="dropdown-item" ><b>Search By Location</b></a>
<a href="{% url 'searchspl' %}" class="dropdown-item"><b>search By speciality</b></a>
                
            </div>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<li><a href="{% url 'logout' %}" class="btn btn-warning" style="text-align:right;"><b>Log Out</b></a></li>
            
    				</ul>
    			</div>
    		</nav>
        <center>
          {% block content %}
          
          {% endblock %}
          </center>
        
<canvas id="canvas"></canvas>



  </body>
  
</html>
