{% extends "main.html" %}
{% block content %}
<br><br>
        <br><br><br>
        <h1 style="color:black;">Welcome to Our</h1>
        <br>
        <h1 style="color:black;">Personal Health Record Management System</h1>
        <b>
        
        <!--
        <div class="content" width="500px" height="500px">
              <p style="color:black;">

In today’s modern world, many of our systems and customs seem to be organized in a way that separates the different facets of health-<br> for example, a nutritionist might recommend ways to eat healthfully, and a therapist might recommend ways to cope with stress, but often, there is little to no crossover guidance,<br> or framework for fitting the pieces together as a whole.

It seems that we have forgotten the idea that health encompasses not just the absence of physical disease, but involves healthy habits, thoughts, coping mechanisms, and peaceful ways of relating to our environment and to others. At OmBody Health, we’re committed to the vision of holistic health: <br>it can be broken down into parts, but each part is ultimately inextricable from the whole. 
<br><br>
 “Health is a state of complete harmony of the body, mind and spirit. When one is free from physical disabilities and mental distractions, the gates of the soul open.” – B.K.S. Iyengar
 </p></b>
 </div>
 -->
{% endblock %}