{% extends "main.html" %}
{% block content %}
<center>
    <br><br><br><br>
<center><h3 style="color: black;"> Emergency Details </h3></center>
<br>
<div class="content" style="width:1200px;height:400px;border-radius:10px;">
<table class="table table-light table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Hospital Name</th>
        <th scope="col">Hospital Location</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Speciality</th>
      </tr>
    </thead>
{% for i in emergency %}
<tbody>
<tr>
  <td>{{i.hospitalname}}</td>
  <td>{{i.location}}</td>
  <td>{{i.phone}}</td> 
  <td>{{i.speciality}}</td>
</tr>
{% endfor %}
</table>
</div>
</center>
{% endblock content %}